/*
	A tab being displayed in the "Page Info" dialog.
	The CC image is used as an icon
*/
radio#ccffext-tab
{
	list-style-image: url("chrome://ccffext/content/media/cc.png");
}

/*
	Main outer panel in the "Page Info" dialog.
	Should look similar the "Permissions" tab (of Fx 3.6)
*/
vbox#ccffextPanel
{
	padding: 0 6px 0 6px;
}

/*
	Highlight checkbox
*/
checkbox#ccffext-highlight
{
	margin: 0;
	margin-top: -2px;
	-moz-margin-end: 3px;
}

/*
	List of licensed objects
*/
vbox#ccffext-objects
{
	margin-top: 5px;
	margin-bottom: 0px;
	-moz-appearance: listbox;
}

/*
	Licensed object item
*/
vbox#ccffext-objects .item
{
	border-bottom: dotted 1px #c0c0c0;
	padding: 6px 8px 6px 8px;
}

/*
	Title of licensed object item
*/
vbox#ccffext-objects .item label.title
{
	font-weight: bold;
}

/*
    A line of information of licensed object item
*/
vbox#ccffext-objects .item .primary
{
	margin-top: 6px;
}
vbox#ccffext-objects .item .indented
{
	margin-left: 1em;
}

/*
    A line of information of licensed object item
*/
vbox#ccffext-objects .item .line label.line-title
{
	width: 100px;
}

vbox#ccffext-objects .item textbox
{
	border: 1px solid #232;
	padding: 0.25em;
}

/*
	A label that looks like an anchor element
 */
label.anchor
{
	color: #0000ff;
	cursor: pointer;
	text-decoration: underline;
}

button {
    -moz-box-align: center;
    -moz-box-pack: start;
}

.aligncenter {
    -moz-box-align: center;
}
